:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 576px){
.project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
}}

.project-links {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.project-links:hover{
  background-color: white;
  color: var(--primary-color);
}

.about-photo{
  border-radius: 10px;
}
footer {
  margin: 50px 0px;
}

footer .email-link{
  text-decoration: none;
  text-align: center;
  color: black;
  transition: all 100ms ease-in-out;
}

footer .email-link:hover{
  color:var(--primary-color);
}

.contact-links,
footer .social-links a{
  margin:0 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

.work-weather-pic{
  max-height: 274px;
}

footer .social-links a:hover{
  color: white;
  background-color: var(--primary-color);
}
footer .footer-note{
  font-size: 12px;
}

footer .github-btn{
  text-decoration: none;
  color: var(--primary-color);
}
body {
  margin: 60px auto;
  max-width: 800px;
}
.content {
  text-align: center;
  padding: 0;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 32px;
}

.content h3 {
  font-size: 20px;
  opacity: 0.7;
}

.content p {
  font-size: 18px;
  line-height: 1.5;
}

.page-links {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.page-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  transition: all 100ms ease-in-out;
}

.page-links a:hover{
  background-color: white;
  color: var(--primary-color);
}

.homepage-link {
  text-align: center;
  display: block;
}

.content-container {
  display: flex;
  margin: 30px 0;
  justify-content: center;
}

.content-container p {
  margin: 10px;
}

.project-pics {
  width: 100;
}
